.title {
   font-family: "Arial";
   font-size: 100px;
   background-color: #f7f7f7;
   font-weight: 600;
   margin-bottom: 10px;
   margin-top: 10px;
}

.mid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.top {
    text-align: center;
    background-color: #f7f7f7;
}